
# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Ignored Files
*.bak
*.cache
*.class
*.ear
*.jar
*.swp
*.tmp
*.war

# virtual machine crash logs
# see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Ignored Maven Folders
.target
target/

# Visual Studio folders
src/c++/Debug/
src/c++/x64/
src/c++/.vs/

# Visual Studio files
src/c++/M-SALSA.opensdf
src/c++/M-SALSA.sdf
src/c++/M-SALSA.vcxproj.user

# Eclipse folder
.settings/

# Eclipse files
.project
.classpath

# TypeScript
typings # dependencies folder

# SALSA test folders
src/cli/logs/